# halo2 volumes 配置
HALO2_DATA_PATH = '/srv/docker-volumes/halo2'

# halo2 server 配置
HALO2_PORT = 8090
VIRTUAL_PORT = 8090

# halo2 r2dbc 配置，参考：https://docs.halo.run/getting-started/install/docker-compose
R2DBC_URL = r2dbc:pool:mysql://you_db_domain:you_db_port/halo2
R2DBC_USERNAME = root
R2DBC_PASSWORD = you_db_password
R2DBC_PLATFORM = mysql

# 外部访问地址，请根据实际需要修改
HALO2_EXTERNAL_URL = http://localhost:8090/