# halo volumes 配置
HALO_DATA_PATH = '/srv/docker-volumes/halo'

# halo server 配置
HALO_PORT = 8090
VIRTUAL_PORT = 8090

# 监听的地址（务必修改）,自己的域名
VIRTUAL_HOST = 'you_domain_name'

# 证书的域名 （务必修改）,自己的域名
LETSENCRYPT_HOST = 'you_domain_name'

# 证书所有者的邮箱，快过期时会提醒（务必修改）
LETSENCRYPT_EMAIL = 'you_email'